/* news */

/* (A) FIXED WRAPPER */
.hwrap {
  overflow: hidden; /* HIDE SCROLL BAR */
  opacity: 0.9;
  

}
 
/* (B) MOVING TICKER WRAPPER */
.hmove { display: flex; }

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  flex-shrink: 0;
  width: 100vh;
  box-sizing: border-box;
  text-align: center;
  
}
 
/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(-400%, 0, 0); }
}
.hmove { animation: tickerh linear 30s infinite; }
.hmove:hover { animation-play-state: paused; }



.navbar{
  
  margin-top:0 ;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
  padding: 10px;
}
.red_brand{
  color: #5F8D4E;
}

.navbar-brand{
  font-family: 'Caveat', cursive;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8rem;
  color: black;
}
.form-fr{
  margin-top: 50px;
  text-align: center;
}
.fr-input{
  display: block;
  width: 350px;
  height: 40px;
  margin: 20px;
  border: none;
  outline: none;
  font-size: 20px;
  border-bottom: 1px solid black;
  background: transparent;
  color: black;
  padding-left: 10px;
}

form h1{
  margin-bottom: 30px;

}
::placeholder{
  color: grey;
}

.form-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  margin-top: 50px;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 1);
  opacity: 0.9;
  font-weight: bold;
  color: #000000;
  height: 500px;
}
@media (min-width:800px) {
  .form-div{
    margin-left: 25%;
    margin-right: 25%;
  }
}

.back-img{
  margin-top: 0px;
  background-image: url("https://wallpaperaccess.com/full/2947967.jpg");
  background-size: no-repeat;
  background-repeat: no-repeat;
  height: 110vh;
}